body {
  background-color: tan;
  font-size: 8pt;
  font-weight: bold; }

section#inputSection {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 100%;
  height: 70px;
  background-color: black; }
  section#inputSection .eqDiv {
    margin-left: 0px;
    background-color: #646464;
    padding: 5px;
    font-size: 30pt;
    font-family: Consolas; }
    section#inputSection .eqDiv label {
      color: gold; }
    section#inputSection .eqDiv input[type="text"].eqInput {
      margin-left: 10px;
      padding: 0 5px 0 5px;
      font-size: 30pt;
      background-color: black;
      color: gold;
      width: 200px; }

section#controlsSection {
  position: absolute;
  left: 0px;
  top: 118px;
  width: 230px;
  height: 522px;
  background-color: black; }
  section#controlsSection label, section#controlsSection span {
    font-size: 14pt;
    color: yellow; }
    section#controlsSection label.value, section#controlsSection span.value {
      color: white; }
  section#controlsSection #domainControl {
    width: 90%;
    border: 3px;
    text-align: center;
    background-color: gray;
    padding: 5px;
    margin: 5px; }
    section#controlsSection #domainControl h1 {
      font-size: 12pt;
      margin-bottom: 5px; }
    section#controlsSection #domainControl #domainSlider {
      width: 80%;
      left: 10%;
      margin-top: 10px; }

section#plotSection {
  position: absolute;
  left: 235px;
  top: 118px;
  width: 784px;
  height: 522px;
  background-color: black; }
