$totalHeight: 645px;
$panelColor: black;
$totalWidth: 1024px;
$inputTop: 43px;
$inputHeight: 70px;
$inputPaddingBottom: 5px;
$lowerPanelBottomMargin: 5px;
$controlPanelWidth: 230px;
$sliderWidth: 200px;
$sliderLeft: ($controlPanelWidth - $sliderWidth) / 2;
$controlPanelMargin: 5px;
$plotPanelRightMargin: 5px;
$lowerPanelsTop: $inputTop + $inputHeight + $inputPaddingBottom;
$lowerPanelsHeight: $totalHeight - $inputTop - $inputHeight - $inputPaddingBottom - $lowerPanelBottomMargin;
$plotPanelLeft: $controlPanelWidth + $controlPanelMargin;
$plotPanelWidth: $totalWidth - ($plotPanelLeft + $plotPanelRightMargin);
$inputBackgroundColor: black;
$inputColor: gold;
$eqInputSize: 30pt;

body {
	background: { color: tan; }
	font: {
			size: 8pt;
			weight: bold;
		}
}

section#inputSection {
	position: absolute;
	left: 0px;
	top: $inputTop;
	width: 100%;
	height: $inputHeight;
	background-color: $panelColor;

	.eqDiv {
		margin-left: 0px;
		background-color: rgb(100,100,100);
		padding: 5px;
		font: {
			size: $eqInputSize;
			family: Consolas;
		}
		label {
			color: $inputColor;
		}

		input[type="text"].eqInput {
			margin-left: 10px;
			padding: 0 5px 0 5px;
			font-size: $eqInputSize;
			background-color: $inputBackgroundColor;
			color: gold;
			width: 200px;
		}
	}
}

section#controlsSection {
	position: absolute;
	left: 0px;
	top: $lowerPanelsTop;
	width: $controlPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $panelColor;

	label {

		font: {
			size: 14pt;
		}
		color: yellow;

		&.value {
			color: white;
		}
	}

	#domainControl {
		width: 90%;
		border: 3px;
		text-align: center;
		background-color: gray;
		padding: 5px;
		margin: 5px;

		#domainWidth {
			width: 80%;
			left: 10%;
		}

		#lblDomainWidth {
			display: block;
			margin-top: 10px;
			color: red;
		}
	}

}

section#plotSection {
	position: absolute;
	left: $plotPanelLeft;
	top: $lowerPanelsTop;
	width: $plotPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $panelColor;
}
