$totalHeight: 645px;
$inputTop: 43px;
$inputHeight: 70px;
$inputPaddingBottom: 5px;
$statusBarHeight: 30px;

$totalWidth: 1024px;
$controlPanelWidth: 230px;
$sliderWidth: 200px;

$plotPanelRightMargin: 5px;
$controlPanelMargin: 5px;

$panelColor: green;
$controlPanelBackgroundColor: black;
$inputBackgroundColor: black;
$inputColor: gold;
$eqInputSize: 20pt;
$statusSectionBackgroundColor: black;
$statusMessageColor: white;
$labelColor: yellow;

$sliderLeft: ($controlPanelWidth - $sliderWidth) / 2;
$plotPanelLeft: $controlPanelWidth + $controlPanelMargin;
$plotPanelWidth: $totalWidth - ($plotPanelLeft + $plotPanelRightMargin);

$lowerPanelsTop: $inputTop + $inputHeight + $inputPaddingBottom;
$lowerPanelsHeight: $totalHeight - $lowerPanelsTop - $statusBarHeight;

$statusBarTop: $lowerPanelsTop + $lowerPanelsHeight;

body {
	background: { color: tan; }
	font: {
			size: 8pt;
			weight: bold;
		}
}

section#inputSection {
	position: absolute;
	left: 0px;
	top: $inputTop;
	width: 100%;
	height: $inputHeight;
	background-color: $panelColor;

	div#d3Inputs {
		display: none;
	}

	.eqDiv {
		margin-left: 0px;
		background-color: rgb(100,100,100);
		padding: 5px;
		font: {
			size: $eqInputSize;
			family: Consolas;
		}

		.controlButtons {
			display: inline-block;
			width: 100px;

			input[type="button"] {
				display: block;
				margin: 0;
				padding: 0;
				width: 110px;
				font-size: 12pt;
				padding: 2px;
			}
		}

		label {
			color: $inputColor;
			&.dependentVariable {
				display: inline-block;
				width: 110px;
				text-align: right;
			}
		}

		input[type="text"].eqInput {
			margin-left: 10px;
			padding: 0 5px 0 5px;
			font-size: $eqInputSize;
			background-color: $inputBackgroundColor;
			color: gold;
			width: 300px;
		}
	}
}

section#controlsSection {
	position: absolute;
	left: 0px;
	top: $lowerPanelsTop;
	width: $controlPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $controlPanelBackgroundColor;

	input[type="number"] {
		background-color: white;
		color: black;
		width: 50px;
	}
	label {
		display: inline-block;
		text-align: right;
		margin-right: 5px;
		width: 110px;
		color: $labelColor;
		font-size: 12pt;
	}

	#numPointsDiv {
		margin-top: 20px;
	}

	.domainRangeControl {
		width: 90%;
		border: 3px;
		text-align: center;
		padding: {
			bottom: 5px;
		}
		
		margin: {
			left: 10px;
			top: 30px;
		}

		h1 {
			font: {
				size: 12pt;
			}
			margin: {
				bottom: 5px;
			}
		}

		label, span {
			display: inline;
			font: {
				size: 14pt;
			}
			color: $labelColor;

			&.value {
				color: white;
			}
			margin-right: 0px;
		}
		.domainRangeSlider {
			width: 80%;
			left: 10%;
			margin: {
				top: 10px;
			}
		}
	}
	#imageControlDiv {
		padding: 3px;
		margin: 5px;
		input[type="button"] {
			display: block;
			width: 150px;
			margin-left: 20px;
		}
		#imageControlNumbers {
			margin-top: 20px;
			input[type="number"] {
				background-color: white;
				color: black;
				width: 50px;
			}
			label {
				display: inline-block;
				text-align: right;
				margin-right: 5px;
				width: 110px;
				color: $labelColor;
			}
			span#frameCount {
				color: $labelColor;
			}
		}
	}
	#numPointsDiv {
	}
}

section#plotSection {
	position: absolute;
	left: $plotPanelLeft;
	top: $lowerPanelsTop;
	width: $plotPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $panelColor;
}

section#statusBarSection {
	position: absolute;
	left: 0px;
	top: $statusBarTop;
	width: $totalWidth;
	padding: 0px;
	margin: 0px;
	background-color: $statusSectionBackgroundColor;

	div#statusBarMsgDiv {
		font-size: 13pt;
		span#statusBarMsg {
			font-style: italic;
			color: $statusMessageColor;
		}
	}
}

section#imageCaptureSection {
	display: none;
	position: absolute;
	left: 100px;
	top: 100px;
	z-order: 100;
	background-color: white;
	border: 3px solid yellow;
	text-align: center;

	input#imageCloseBtn {
		font-size: 14pt;
	}
}