body {
  background-color: tan;
  font-size: 8pt;
  font-weight: bold; }

section#inputSection {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: black; }

section#controlsSection {
  position: absolute;
  left: 0px;
  top: 105px;
  width: 100px;
  height: 490px;
  background-color: black; }

section#plotSection {
  position: absolute;
  left: 105px;
  top: 105px;
  width: 914px;
  height: 490px;
  background-color: black; }
