$totalHeight: 600px;
$panelColor: black;
$totalWidth: 1024px;
$inputHeight: 100px;
$inputPaddingBottom: 5px;
$lowerPanelBottomMargin: 5px;
$controlPanelWidth: 100px;
$controlPanelMargin: 5px;
$plotPanelRightMargin: 5px;
$lowerPanelsTop: $inputHeight + $inputPaddingBottom;
$lowerPanelsHeight: $totalHeight - $inputHeight - $inputPaddingBottom - $lowerPanelBottomMargin;
$plotPanelLeft: $controlPanelWidth + $controlPanelMargin;
$plotPanelWidth: $totalWidth - ($plotPanelLeft + $plotPanelRightMargin);

body {
	background: { color: yellow; }
	font: {
			size: 8pt;
			weight: bold;
		}
}

section#inputSection {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: $inputHeight;
	background-color: $panelColor;
}

section#controlsSection {
	position: absolute;
	left: 0px;
	top: $lowerPanelsTop;
	width: $controlPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $panelColor;
}

section#plotSection {
	position: absolute;
	left: $plotPanelLeft;
	top: $lowerPanelsTop;
	width: $plotPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $panelColor;
}
