body {
  background-color: tan;
  font-size: 8pt;
  font-weight: bold; }

section#inputSection {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 100%;
  height: 70px;
  background-color: green; }
  section#inputSection div#d3Inputs {
    display: none; }
  section#inputSection .eqDiv {
    margin-left: 0px;
    background-color: #646464;
    padding: 5px;
    font-size: 20pt;
    font-family: Consolas; }
    section#inputSection .eqDiv .controlButtons {
      display: inline-block;
      width: 100px; }
      section#inputSection .eqDiv .controlButtons input[type="button"] {
        display: block;
        margin: 0;
        padding: 0;
        width: 110px;
        font-size: 12pt;
        padding: 2px; }
    section#inputSection .eqDiv label {
      color: gold; }
      section#inputSection .eqDiv label.dependentVariable {
        display: inline-block;
        width: 110px;
        text-align: right; }
    section#inputSection .eqDiv input[type="text"].eqInput {
      margin-left: 10px;
      padding: 0 5px 0 5px;
      font-size: 20pt;
      background-color: black;
      color: gold;
      width: 300px; }

section#controlsSection {
  position: absolute;
  left: 0px;
  top: 118px;
  width: 230px;
  height: 497px;
  background-color: black; }
  section#controlsSection label, section#controlsSection span {
    font-size: 14pt;
    color: yellow; }
    section#controlsSection label.value, section#controlsSection span.value {
      color: white; }
  section#controlsSection .domainRangeControl {
    width: 90%;
    border: 3px;
    text-align: center;
    background-color: gray;
    padding-bottom: 5px;
    margin-left: 10px; }
    section#controlsSection .domainRangeControl h1 {
      font-size: 12pt;
      margin-bottom: 5px; }
    section#controlsSection .domainRangeControl .domainRangeSlider {
      width: 80%;
      left: 10%;
      margin-top: 10px; }
  section#controlsSection #imageControlDiv {
    border: 1px solid gray;
    padding: 3px;
    margin: 5px; }
    section#controlsSection #imageControlDiv input[type="button"] {
      display: block; }
    section#controlsSection #imageControlDiv input[type="number"] {
      background-color: white;
      color: black;
      width: 30px; }
    section#controlsSection #imageControlDiv label {
      margin-right: 10px; }

section#plotSection {
  position: absolute;
  left: 235px;
  top: 118px;
  width: 784px;
  height: 497px;
  background-color: green; }

section#statusBarSection {
  position: absolute;
  left: 0px;
  top: 615px;
  width: 1024px;
  padding: 0px;
  margin: 0px;
  background-color: black; }
  section#statusBarSection div#statusBarMsgDiv {
    font-size: 13pt; }
    section#statusBarSection div#statusBarMsgDiv span#statusBarMsg {
      font-style: italic;
      color: white; }

section#imageCaptureSection {
  display: none;
  position: absolute;
  left: 100px;
  top: 100px;
  z-order: 100;
  background-color: white;
  border: 3px solid yellow;
  text-align: center; }
  section#imageCaptureSection input#imageCloseBtn {
    font-size: 14pt; }
