$totalHeight: 645px;
$panelColor: green;
$totalWidth: 1024px;
$inputTop: 43px;
$inputHeight: 70px;
$inputPaddingBottom: 5px;
$lowerPanelBottomMargin: 5px;
$controlPanelWidth: 230px;
$sliderWidth: 200px;
$sliderLeft: ($controlPanelWidth - $sliderWidth) / 2;
$controlPanelBackgroundColor: black;
$controlPanelMargin: 5px;
$plotPanelRightMargin: 5px;
$lowerPanelsTop: $inputTop + $inputHeight + $inputPaddingBottom;
$lowerPanelsHeight: $totalHeight - $inputTop - $inputHeight - $inputPaddingBottom - $lowerPanelBottomMargin;
$plotPanelLeft: $controlPanelWidth + $controlPanelMargin;
$plotPanelWidth: $totalWidth - ($plotPanelLeft + $plotPanelRightMargin);
$inputBackgroundColor: black;
$inputColor: gold;
$eqInputSize: 20pt;

body {
	background: { color: tan; }
	font: {
			size: 8pt;
			weight: bold;
		}
}

section#inputSection {
	position: absolute;
	left: 0px;
	top: $inputTop;
	width: 100%;
	height: $inputHeight;
	background-color: $panelColor;

	div#d3Inputs {
		display: none;
	}

	.eqDiv {
		margin-left: 0px;
		background-color: rgb(100,100,100);
		padding: 5px;
		font: {
			size: $eqInputSize;
			family: Consolas;
		}

		.controlButtons {
			display: inline-block;
			width: 100px;

			input[type="button"] {
				display: block;
				margin: 0;
				padding: 0;
				width: 110px;
				font-size: 12pt;
				padding: 2px;
			}
		}

		label {
			color: $inputColor;
			&.dependentVariable {
				display: inline-block;
				width: 110px;
				text-align: right;
			}
		}

		input[type="text"].eqInput {
			margin-left: 10px;
			padding: 0 5px 0 5px;
			font-size: $eqInputSize;
			background-color: $inputBackgroundColor;
			color: gold;
			width: 300px;
		}
	}
}

section#controlsSection {
	position: absolute;
	left: 0px;
	top: $lowerPanelsTop;
	width: $controlPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $controlPanelBackgroundColor;

	label, span {

		font: {
			size: 14pt;
		}
		color: yellow;

		&.value {
			color: white;
		}
	}

	.domainRangeControl {
		width: 90%;
		border: 3px;
		text-align: center;
		background-color: gray;
		padding: 5px;
		margin: 0px;
		border: 4px solid red;

		h1 {
			font: {
				size: 12pt;
			}
			margin: {
				bottom: 5px;
			}
		}

		.domainRangeSlider {
			width: 80%;
			left: 10%;
			margin: {
				top: 10px;
			}
		}
	}

}

section#plotSection {
	position: absolute;
	left: $plotPanelLeft;
	top: $lowerPanelsTop;
	width: $plotPanelWidth;
	height: $lowerPanelsHeight;
	background-color: $panelColor;
}
