div#board {
	width: 978px;
	height: 530px;
	position: absolute;
	left: 20px;
	top: 100px;
	border: 1px solid black;
}

div#leftPanel {
	height: 530px;
	width: 200px;
	background-color: tan;
	
}

canvas
{
	position: absolute;
	left: 210px;
	top: 10px;
	width: 500px;
	height: 500px;
	border: 1px solid black;
	
}

div#leftPanel label {
	font-size: 16pt;
	margin-left: 5px;
}

input[type="number"] {
	width: 100px;
	margin-left: 3px;
	font-size: 16pt;
}

input[type="button"] {
	width: 150px;
	font-size: 16pt;
	font-family: arial;
	margin: 5px;
}