canvas
{
	position: absolute;
	top: 40px;
	height: 600px;
	left: 230px;
	width: 600px;
	background-color: thistle;	
}

div#leftPanel
{
	position: absolute;
	left: 20px;
	top: 40px;
	height: 600px;
	width: 200px;
}

div.row {
	clear: both;
	height: 40px;
	margin: 0px;
}

section#valueInputs {
	padding-top: 10px;
	font-size: 14pt;
	margin: 3px;
	border: 1px solid black;
}

section#valueInputs label {
	float: left;
	width: 70px;
	color: green;
	text-align: right;
	margin-right: 5px;
}

section#valueInputs input[type="number"] 
{
	float: left;
	width: 40px;
	font-size: 14pt;
}

section#shapeSelection {
	clear: both;
}

input[type="button"] {
	width: 150px;
	font-size: 16pt;
	font-family: arial;
	margin: 5px;
}