$linkColor: #22eeee;
$nameColor: #666666;

body {
	background-image: url('images/Lake-Tahoe-4.jpg');
	font-family: 'Trebuchet MS';
	padding: 0px;
	margin: 0px;
}

section#mainLinks {
	width: 400px;
	float: left;
	ul {
		margin-top: 0px;
		padding-top: 40px;
		list-style: none;
		font-size: 18pt;
		li {
			display: inline-block;
			margin-left: 20px;
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

section#aboutMe {

	div#myName {
		color: $nameColor;
	}
	

	padding: {
		top: 200px;
	}

	width: 400px;
	float: right;
	font-size: 24pt;

	a {
		display: inline-block;
		margin-top: 80px;
		font-size: 16pt;
		color: $linkColor;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

}