
<script src="@Url.Content("~/Scripts/Home/CalcLib.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Home/NumberForm.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Home/NumberForm.css")" rel="stylesheet" type="text/css" />

<label>Number: </label><input type="text" name="CtlInputNumber" id="CtlInputNumber" size="20" />
<input type="button" id="CtlCalcBtn" value="Calc" />
<input type="button" id="CtlClearText" value="Clear"/>
<div class="clear" />

&nbsp;
<label>Result:</label>
<div id="CtlResult"></div>
<div class="clear" />

<div>
    <textarea id="CtlText" cols="80" rows="15"></textarea>
</div>
