@{
    ViewBag.Title = "CssTests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Css Tests</h2>

<div style="border: solid 1px black">
    Outer text in div
    <div style="border: solid 1px yellow">
        Inner text
    </div>
</div>
