@{
    ViewBag.Title = "Factorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Factorial</h2>
<script src="@Url.Content("~/Scripts/Home/Factorial.js")" type="text/javascript"></script>
@Html.Partial("_NumberForm");

