@{
    ViewBag.Title = "Fib";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fib</h2>
<script src="@Url.Content("~/Scripts/Home/Fib.js")" type="text/javascript"></script>
@Html.Partial("_NumberForm");

