@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="intro">
Various explorations into HTML 5 and JavaScript.  Maze, Org Chart, and Spirograph show off some
of the new HTML 5 Canvas support.  Fibonacci and Factorial demonstrate memoization using javascript
closures.
</section>


