@{
    ViewBag.Title = "StefGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Games/Stef.css")" rel="stylesheet" type="text/css" />

<h2>Stefanies Game Goes On This Page</h2>

<img id="richard" src="@Url.Content("~/Content/Images/Dicky Face.png")" />

<canvas>
</canvas>
