.clear {
	clear: both;
}

label {
	color: blue;
	float: left;
	margin-right: 5px;
	width: 100px;
}

input[type="text"] 
{
	float: left;
	font-size: 14pt;
	background-color: rgb(222, 200, 80);
	padding: 5px;
}

input[type="button"] 
{
	float: left;
	background-color: rgb(106, 154, 101);
	width: 80px;
	font-size: 14pt;
	margin-left: 10px;
	vertical-align: middle;
	padding: 0px;
}

#CtlText
{
	border-style: groove;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: black;
	color: white;
	padding: 10px;
	margin-left: 100px;
}

#CtlResult {
	width: 600px;
	height: 50px;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
}

